@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

body{
	color: #343336;
	font-family: "Estrangelo Edessa";
	text-align: center;
}

header {
background-color:#FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color:#E8C66A;
    border: 1px black solid;
    padding: 20px;
}

#slogan{
	font-family: 'Lobster', cursive;
	font-weight: normal;
	color: #007A5F;
}

#intro{
	background-color:#E89C6C;
    border: 1px black solid;
    padding: 20px;
	font-family: 'Comfortaa', cursive;
	font-style: 30px;
	font-weight: bold;
}

#product-section-one{
	background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#product-section-two{
	background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#product-section-three{
	background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#footer-section-one{
	background-color:#FF957E;
    border: 1px black solid;
    padding: 20px;
}

#footer-section-two{
	background-color:#FF957E;
    border: 1px black solid;
    padding: 20px;
}
